.box {
  border: 1px solid _color(box-border);
  background-color: _color(box-bg);
  border-radius: .25rem;

  &.solid {
    background-color: _color(bg-box-secondary);
  }
}

@media only screen and (max-width: _breakpoint(step-two)) {
  .box {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
