.box {
  border: 1px solid _color(border-dark);
  background-color: _color(bg-60);
  border-radius: 1rem;
  padding: 1.5rem;
}

@media only screen and (max-width: _breakpoint(step-two)) {
  .box {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}
