footer {
  position: fixed;
  bottom: 0;
  background-color: _color(bg-footer);
  border-top: 1px solid _color(border-footer);
  font-size: .75rem;
  //color: _color(footer-text);
  width: 100%;
  a {
    color: _color(link);
  }
}

.footer-content {
  padding: 1rem 2rem;
}

footer {

}
