footer {
  position: fixed;
  bottom: 0;
  background-color: _color(footer-bg);
  border-top: 1px solid _color(border-dark);
  width: 100%;
  color: _color(footer-text);

}

.footer-content {
  font-size: .75rem;
  color: _color(footer-txt);
  padding: 1rem 2rem;
}


