header {
  box-sizing: border-box;
  width: 100%;
  background-color: _color(white);
  border-bottom: 1px solid _color(primary);

  a.logo {
    color: _color(primary);
    font-family: _font(family-light);
    text-decoration: none;
    font-size: _font(size-regular);
  }
}
