

.header-content, .footer-content, .nav-content, main {
  margin: 0 auto;
  max-width: 80rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

main {
  padding-top: 0;
  padding-bottom: 5rem;
  color: _color(body-text);
}
