nav {
  box-sizing: border-box;
  line-height: 1rem;

  .material-icons {
    color: _color(nav-icons-primary)!important;
  }

  ul li a {
    color: _color(link);
    &:hover {
      color: _color(button-secondary-hover);
    }
  }

  &.full-width {
    width: 100%;
  }

  ul.secondary {
    margin-left: 1.5rem;
  }

  li {
    list-style: none;
    display: inline;
    margin-right: 2.5rem!important;




    &:last-of-type {
      margin-right: 0!important;
      background-color: transparent;
    }
  }
}

footer {
  a {
    color: _color(button-secondary-hover) !important;
    &:hover {
      background-color: _color(button-secondary-hover);
    }
  }
}
