nav {
  box-sizing: border-box;
  line-height: 1rem;

  .material-icons {
    color: _color(nav-icons-primary)!important;
  }

  ul li a {
    color: _color(link);

  }

  &.full-width {
    width: 100%;
  }

  ul.secondary {
    margin-left: 1.5rem;
  }

  li {
    list-style: none;
    display: inline;
    margin-right: 2.5rem!important;


    a {
      border-radius: 2rem;
      background-color: _color(button-secondary);
      padding: .5rem 1.5rem;
      &:hover {
        background-color: _color(button-secondary-hover);
      }
    }

    &:last-of-type {
      margin-right: 0!important;
      background-color: transparent;
    }
  }
}
