h1, h2, h3, h4 {
  color: _color(heading);
  margin: 0;
  padding: 0;
  font-weight: unset;
}

h1 {
  font-family: _font(family-medium);
  font-size: 1.25rem;
  //padding-top: .5rem;
  //padding-bottom: 1rem;
}

h2 {
  font-family: _font(family-light);
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: _font(family-medium);
  font-size: .825rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

h4 {
  font-family: _font(family-regular);
  font-size: .75rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

table, p, li, em, div {
  font-size: .75rem;
  margin: 0;
  padding: 0;
}

main {
  a, a:active, a:visited {
    color: _color(link);
  }
}

.bold {
  font-family: _font(family-bold);
}
.semibold {
  font-family: _font(family-semibold);
}
.regular {
  font-family: _font(family-regular);
}
.medium {
  font-family: _font(family-medium);
}
.light {
  font-family: _font(family-light);
}
