body {
  color: _color(body-txt);
  font-family: _font(family-regular);
  font-weight: 300;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: _breakpoint(step-min);
  line-height: 1.5;
}

.header-content, .footer-content, .nav-content, main {
  margin: 0 auto;
  max-width: 80rem;
  padding: 1.5rem;
}
