
h1, h2, h3 {
  color: _color(heading);
}

h1 {
  font-family: _font(family-light);
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 80rem;
}

h2 {
  font-family: _font(family-light);
  font-size: .95rem;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

p, li, em {
  font-size: 0.75rem;
}

main {
  a, a:active, a:visited {
    color: _color(link);
  }
}

