table {
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  th, td {
    text-align: left;
    font-weight: unset;
  }

  thead {
    th {
      border-bottom: 1px solid _color(border-dark);
      color: _color(heading-2);
      font-family: _font(family-medium);
      padding-bottom: .5rem;
    }
  }

  tbody {
    tr {
      td {
        border-bottom: 1px solid _color(border-dark);
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}
