.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-y-sm {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.padding-y-med {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.padding-y-lg {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
