
h1, h2, h3 {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 80rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 80rem;
  padding-top: 2rem;
}

p, li {
  font-size: 1rem;
}

nav {
  a {
    color: rgb(27,158,159);
  }
}

main {
  a, a:active, a:visited {
    color: rgb(20, 168, 107);
  }
}

