button {
  padding: .5rem 1rem;
  border: 2px solid _color(transparent);
  border-radius: 1.5rem;
  font-size: _size(regular);
  font-family: _font(family-medium);
  &.primary {
    background-color: _color(button-primary);
    color: _color(body-text-inverse);
  }
  &.primary-gradient {
    background: _color(bg-fancy-lilac);
    color: _color(body-text-inverse);
  }
  &.secondary {
    background-color: _color(button-secondary);
    color: _color(body-text);
  }

  &.cancel {
    color: _color(body-text);
  }
  &.delete {
    background-color: _color(button-delete);
    color: _color(body-text-inverse);
  }
}

button + button {
  margin-left: .75rem;
}
