button {
  padding: .5rem 1rem;
  background-color: _color(bg-button);
  border: 2px solid _color(transparent);
  border-radius: 1.5rem;
  color: _color(body-text-inverse);
  font-family: _font(family-medium);
}

button + button {
  margin-left: .75rem;
}
