button {
  padding: .35rem .75rem;
  border-radius: 1.5rem;
  font-size: .75rem;
  font-family: _font(family-regular);
  letter-spacing: .0125rem;
  border: none;
  line-height: 1.5rem;

  &.button-link {
    background-color: transparent;
    color: _color(button-link);
    padding: .35rem 0;
    text-decoration: underline;
  }

  &.primary {
    background-color: _color(button-primary);
    color: _color(button-text-primary);

    &:hover {
      background-color: _color(button-primary-hover);
    }
  }

  &.primary-gradient {
    background: _color(bg-fancy-lilac);
    color: _color(button-text-gradient);

    &:hover {
      background-color: _color(button-gradient-hover);
    }
  }

  &.secondary {
    padding: .275rem .75rem !important;
    background-color: _color(button-secondary);
    color: _color(button-text-secondary);

    &:hover {
      background-color: _color(button-secondary-hover);
    }

    .material-icons {
      font-size: 1rem;
      padding-right: .25rem !important;
    }
  }

  &.cancel {
    color: _color(body-text);

    &:hover {
      background-color: _color(button-cancel-hover);
    }
  }

  &.delete {
    background-color: _color(button-delete);
    color: _color(button-text-inverse);

    &:hover {
      background-color: _color(button-delete-hover);
    }
  }
}

button + button {
  margin-left: .75rem;
}


table button {
  font-size: .65rem;
  padding: .25rem .5rem;
}

.button-link {

}
