input {
  font-size: _size(regular);


  &[type=text], &[type=number] {
    padding: .5rem;
    width: 100%;
  }

  &:-moz-focusring {
    outline: 3px solid lightblue;
  }

  &[type=number] + select {
    margin-left: 1rem;
  }

  &[type=checkbox],
  &[type=radio] {
    padding: 0;
    + span {
      margin-left: .5rem;
    }
    &:-moz-focusring {
      outline:0;
    }
  }

  &[type=radio] {
    -webkit-appearance: radio;
  }

  &[type=checkbox] {
    -webkit-appearance: checkbox;
  }


}
